<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    {{#if cssFile}}
        <link rel="stylesheet" href="/stylesheets/{{cssFile}}.css" />
    {{/if}}
</head>
<body class="{{template}}">
    {{> header}}

    <div class="container">
        {{{body}}}
    </div>

    {{> footer}}

    {{#if jsFile}}
        <script type="text/javascript" src="/javascripts/{{jsFile}}.js"></script>
    {{/if}}
</body>
</html>
