<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <h1>New Internet Platform.</h1>
    <p>Welcome to New Internet Platform</p>
</body>
</html>
