<div class="{{template}}">
    <h1>New Internet Platfrom</h1>
    <p>Welcome to New Internet Platfrom</p>

    <div class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Login</div>
                        <div class="card-body">
                            <form action="/api/users/login" method="POST" id="user" name="user">
                                <div class="row form-group">
                                    <div class="col">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                        <i class="fa fa-eye hide-element" id="login-psw-eye"></i>
                                        <i class="fas fa-eye-slash" id="login-psw-eye-slash"></i>
                                    </div>
                                </div>
                                <div class="row form-group form-check">
                                    <div class="col">
                                        <input type="checkbox" class="form-check-input" id="loginSaveCheck">
                                        <label class="form-check-label" for="loginSaveCheck">Remember me</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a href="#" class="btn btn-link">Forgot your password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
