<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>

    <form action="/action_page.php">
		<table>
 			<tr>
   			 	<td>Username: <input type="text" name="Username" value=""><br></td>
   			 </tr>
   			 <tr>
   			 	<td>Email: <input type="text" name="Email" value=""><br></td>
    		 </tr>
    		 <tr>
    		 	<td>Password: <input type="text" name="" value=""><br></td>
  			</tr>
		</table>
		<br>
  		<input type="submit" value="Submit">
	</form>

</body>
</html>
	
