<div class="nip-login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            {{'cardTitle' | labels: 'LABELS' : language : labelsFile}}
          </div>

          <div class="card-body" *ngIf="msgErrorService">
            <app-error [errorMessage]="msgErrorService"></app-error>
          </div>

          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="row form-group pb-3">
                <div class="col">
                  <label for="email">{{'emailAddress' | labels: 'LABELS' : language : labelsFile}}</label>
                  <input type="email" class="form-control" name="email" id="email" formControlName="email"
                         placeholder="{{'insertEmail' | labels: 'LABELS' : language : labelsFile}}"
                         [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched) && email.errors}"
                         required>
                  <div class="nip-invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <p class="invalid-feedback d-block" *ngIf="email.errors.required">
                      {{'requiredEmail' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="email.invalid && !email.errors.required">
                      {{'invalidEmail' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row form-group pb-3">
                <div class="col">
                  <label for="password">{{'password' | labels: 'LABELS' : language : labelsFile}}</label>
                  <div class="input-group">
                    <input [type]="pswType" class="form-control py-2" name="password" id="password"
                           formControlName="password" placeholder="{{'insertPassword' | labels: 'LABELS' : language : labelsFile}}"
                           [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched) && password.errors}"
                           required>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <fa-icon [icon]="pswIcon" (click)="switchPsw()" class="fa-fw"></fa-icon>
                      </span>
                    </div>
                  </div>
                  <div class="nip-invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <p class="invalid-feedback d-block" *ngIf="password.errors.required">
                      {{'requiredPassword' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="password.invalid && !password.errors.required">
                      {{'invalidPassword' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="row pt-2">
                <div class="col">
                  <button type="submit" class="btn btn-primary">{{'submit' | labels: 'LABELS' : language : labelsFile}}</button>
                  <button type="button" class="btn btn-link" (click)="forgotPassword()">{{'forgotPassword' | labels: 'LABELS' : language : labelsFile}}</button>
                </div>
              </div>
            </form>
          </div>

          <div class="card-footer">
            <span>
              {{'newUserQuestion' | labels: 'LABELS' : language : labelsFile}}
              <a routerLink="/signup">{{'newAccount' | labels: 'LABELS' : language : labelsFile}}</a>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>