<div class="nip-comment">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            {{'title' | labels: 'LABELS' : language : labelsFile}}
          </div>

          <div class="card-body">
            <p>{{'pageDescription' | labels: 'LABELS' : language : labelsFile}}</p>

            <ngb-tabset [justify]="'justified'">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <strong>{{'externalURL' | labels: 'LABELS' : language : labelsFile}}</strong>
                </ng-template>
                <ng-template ngbTabContent>
                  <p>{{'externalURLDescription' | labels: 'LABELS' : language : labelsFile}}</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <strong>{{'manually' | labels: 'LABELS' : language : labelsFile}}</strong>
                </ng-template>
                <ng-template ngbTabContent>
                  <p>{{'manuallyDescription' | labels: 'LABELS' : language : labelsFile}}</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <strong>{{'searchFieldURL' | labels: 'LABELS' : language : labelsFile}}</strong>
                </ng-template>
                <ng-template ngbTabContent>
                  <p>{{'searchFieldURLDescription' | labels: 'LABELS' : language : labelsFile}}</p>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
