<div class="nip-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{'nip' | labels: 'LABELS' : language : labelsFile}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">{{'home' | labels: 'LABELS' : language : labelsFile}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/private/dashboard" routerLinkActive="active">{{'dashboard' | labels: 'LABELS' : language : labelsFile}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">{{'signup' | labels: 'LABELS' : language : labelsFile}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">{{'login' | labels: 'LABELS' : language : labelsFile}}</a>
        </li>
      </ul>

      <div class="navbar-nav">
        <div class="nav-item">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="{{'search' | labels: 'LABELS' : language : labelsFile}}" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="search()">{{'search' | labels: 'LABELS' : language : labelsFile}}</button>
          </form>
        </div>
      </div>

      <div class="nav-item dropdown">
        <div ngbDropdown display="dynamic" class="d-inline-block">
          <fa-icon [icon]="faUser" class="fa-fw nav-link" id="userMenu" ngbDropdownToggle></fa-icon>
          <div ngbDropdownMenu aria-labelledby="userMenu">
            <div *ngFor="let item of userMenu; trackBy: trackByMenu">
              <button  (click)="item.function(item)" ngbDropdownItem>{{item.label}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </nav>
</div>