<div class="nip-signup">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            {{'signup' | labels: 'LABELS' : language : labelsFile}}
          </div>

          <div class="card-body" *ngIf="msgErrorService">
            <app-error [errorMessage]="msgErrorService"></app-error>
          </div>

          <div class="card-body">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

              <div class="row form-group pb-3">
                <div class="col">
                  <label for="firstName">{{'firstName' | labels: 'LABELS' : language : labelsFile}}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="firstName"
                    id="firstName"
                    formControlName="firstName"
                    placeholder="{{'insertFirstName' | labels: 'LABELS' : language : labelsFile}}"
                    [ngClass]="{'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors}"
                    required>
                  <div class="nip-invalid-feedback" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                    <p class="invalid-feedback d-block" *ngIf="firstName.errors.required">
                      {{'firstNameRequired' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="firstName.invalid && !firstName.errors.required">
                      {{'firstNameInvalid' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="row form-group pb-3" [ngClass]="{ 'has-error' : email.hasError('emailTaken') }">
                <div class="col">
                  <label for="lastName">{{'lastName' | labels: 'LABELS' : language : labelsFile}}</label>
                  <span *ngIf="email.hasError('emailTaken')" class="username-email-taken">Email is taken</span>
                  <input
                    type="text"
                    class="form-control"
                    name="lastName"
                    id="lastName"
                    formControlName="lastName"
                    placeholder="{{'insertLastName' | labels: 'LABELS' : language : labelsFile}}"
                    [ngClass]="{'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors}"
                    required>
                  <div class="nip-invalid-feedback" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    <p class="invalid-feedback d-block" *ngIf="lastName.errors.required">
                      {{'lastNameRequired' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="lastName.invalid && !lastName.errors.required">
                      {{'lastNameInvalid' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="row form-group pb-3">
                <div class="col">
                  <label for="username">{{'username' | labels: 'LABELS' : language : labelsFile}}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    id="username"
                    formControlName="username"
                    placeholder="{{'insertUsername' | labels: 'LABELS' : language : labelsFile}}"
                    [ngClass]="{'is-invalid': username.invalid && (username.dirty || username.touched) && username.errors}"
                    required>
                  <div class="nip-invalid-feedback" *ngIf="username.invalid && (username.dirty || username.touched)">
                    <p class="invalid-feedback d-block" *ngIf="username.errors.required">
                      {{'usernameRequired' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="username.invalid && !username.errors.required">
                      {{'usernameInvalid' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="row form-group pb-3">
                <div class="col">
                  <label for="email">{{'emailAddress' | labels: 'LABELS' : language : labelsFile}}</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    formControlName="email"
                    placeholder="{{'insertEmailAddress' | labels: 'LABELS' : language : labelsFile}}"
                    [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched) && email.errors}"
                    required>
                  <div class="nip-invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <p class="invalid-feedback d-block" *ngIf="email.errors.required">
                      {{'requiredEmailAddress' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="email.invalid && !email.errors.required">
                      {{'invalidEmailAddress' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="row form-group pb-3" [ngClass]="{'pb-5': (password.invalid && (password.dirty || password.touched) && !password.errors.required)}">
                <div class="col">
                  <label for="password">{{'password' | labels: 'LABELS' : language : labelsFile}}</label>
                  <div class="input-group">
                    <input
                      [type]="pswType"
                      class="form-control py-2"
                      name="password"
                      id="password"
                      formControlName="password"
                      placeholder="{{'insertPassword' | labels: 'LABELS' : language : labelsFile}}"
                      [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched) && password.errors}"
                      required>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <fa-icon [icon]="pswIcon" (click)="switchPsw()" class="fa-fw"></fa-icon>
                      </span>
                    </div>
                  </div>
                  <div class="nip-invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <p class="invalid-feedback d-block" *ngIf="password.errors.required">
                      {{'requiredPassword' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="password.invalid && !password.errors.required">
                      {{'invalidPassword' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="row form-group pb-3">
                <div class="col">
                  <label for="confirmPassword">{{'confirmPassword' | labels: 'LABELS' : language : labelsFile}}</label>
                  <div class="input-group">
                    <input
                      [type]="pswType"
                      class="form-control py-2"
                      name="confirmPassword"
                      id="confirmPassword"
                      formControlName="confirmPassword"
                      placeholder="{{'insertConfirmPassword' | labels: 'LABELS' : language : labelsFile}}"
                      [ngClass]="{'is-invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors}"
                      required>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <fa-icon [icon]="pswIcon" (click)="switchPsw()" class="fa-fw"></fa-icon>
                      </span>
                    </div>
                  </div>
                  <div class="nip-invalid-feedback" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                    <p class="invalid-feedback d-block" *ngIf="confirmPassword.errors.required">
                      {{'requiredConfirmPassword' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                    <p class="invalid-feedback d-block"
                       *ngIf="confirmPassword.errors?.notMatch && !confirmPassword.errors.required">
                      {{'invalidConfirmPassword' | labels: 'LABELS' : language : labelsFile}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="row pt-2">
                <div class="col">
                  <button class="btn btn-primary mr-1">{{'register' | labels: 'LABELS' : language : labelsFile}}</button>
                  <button class="btn btn-secondary" type="reset" (click)="onReset()">{{'cancel' | labels: 'LABELS' : language : labelsFile}}</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <app-modal #registerationModal [id]="registerationModalOptions.id" [title]="registerationModalOptions.title" [description]="registerationModalOptions.description" [icon]="registerationModalOptions.icon" [iconColor]="registerationModalOptions.iconColor" [okButtonLabel]="registerationModalOptions.okButtonLabel" (okButtonClick)="goToLogin()" (closeButtonClick)="goToLogin()"></app-modal>
  </div>

</div>